* {
  box-sizing: border-box;
  font-family: "Arial", "Helvetica Neue", "Helvetica", sans-serif;
}
body {
  margin:0px;
  background-image: url(../images/bg.png);
  margin-bottom: 100px;
}
.flex {
  position: relative;
  margin:auto;
  align-items: center;

  padding: 0px;
}
.heading {
  color: #4aaaa5;

}
#header {
  display: flex;
  border-bottom: #CCCCCC solid;
  background-color: #fff;
  justify-content: center;
  min-width: 800px;
  overflow: auto;
}
#namebox {
margin-top: 10px;
background: #4aaaa5;
color: #fff;
padding: 20px;
float: left;

}
#menu {
  float:left;
  margin-left: 475px;
  margin-top: 30px;

}
#menu > a {
  color: #696b70;
  text-decoration: none;
}
#menu > a:hover {
  color: #CCCCCC;
  text-decoration: underline;
}
h1 {
  color: #4aaaa5;
  font-size: 24px;
}
h2 {
  color: #4aaaa5;
  font-size: 18px;
  text-align: center;
}
#main {
  clear: left;
	overflow:auto;
  display: flex;
  justify-content:center;
  margin: 20px auto;
  width: 960px;
}
#content {
  width: 650px;
  border: #dddddd solid;
  padding: 20px;
  background-color: #fff;
  text-align: justify;
}
#connect {
  width: 300px;
  border: #dddddd solid;
  margin-left: 20px;
  padding: 20px;
  background-color: #fff;
  align-items: center;
  margin-bottom: auto;
}
.con {
  padding: 5px;
  width: 33.3%;
}
#footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  clear: both;
  height: 75px;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #666666;
  border-top: #4aaaa5 solid 8px;
  color: #dddddd;
}
#bioimg {
  float: left;
  width: 25%;
  margin-right:10px
}
