#header {
  width: 100%;
  margin: 0;
padding: 0 100px 0 100px;
overflow: auto;
border: #cccccc;
border-bottom-width: thick;
border-bottom-style: solid;

}
#namebox {
  margin: 0 0 0 100;
  padding: 20px;
  background-color: #4aaaa5;
  color: #ffffff;
  font-size: 36px;
  align-content: center;
  float: left;
}
#menu {
  padding: 20px;
  float: right;
	right: 100px;
}
#main {
	width: 100%;
	overflow:auto;
	padding-left: 20px;
}
